.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'
.theme
  .more
    .more__image
      = image_tag 'arrow_top.png'
    %ul.more__list#pop
      %li
        = link_to 'テーマ名変更', class: 'more__list__change-theme'
      %li
        = link_to '削除', class: 'more__list__delete'