.side-bar
  .header
    %ul.header__user
      %li.header__user__name 
        UserName: TAKUMI
      %li.header__user__edit
        = link_to "Edit user"
    .header__clock
      #clock_time
      #clock_date
  %ul.items
    %li.to-do 
      = link_to "To-Do", todos_path
    %li.memo
      = link_to "Memo", memos_path, method: :get
    %li.myblog
      = link_to "MyBlog", themes_path
    %li.chat-room
      = link_to "Chat-Room"
    %li.newsweek
      = link_to "NewsWeek", newsweeks_path
    %li.change-image
      = link_to "Change Image"
    %li.back-to-top-page
      = link_to "Back to top page", root_path